In [7]:
import pandas as pd

In [8]:
# step1: load the dataset

In [9]:
df=pd.read_csv("Online Sales Data Task 1.csv")

In [10]:
print("step1: Data loaded")
display(df.head())

step1: Data loaded

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [11]:
#  step2:checking the missing values
print("missing values:\n",df.isnull().sum())

missing values:
 Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [12]:
#step3: Removing the Duplicates

In [13]:
before=df.shape[0]
df=df.drop_duplicates()
after=df.shape[0]
print(f"\nstep 3: {before - after} duplicate rows removed.")

step 3: 0 duplicate rows removed.

In [14]:
#step4: standardize text columns

In [15]:
# Step 4: Standardize text values
for col in ['Region', 'Payment Method', 'Product Category']:
    df[col] = df[col].astype(str).str.strip().str.title()
print("\nStep 4: Standardized text sample")
display(df[['Region', 'Payment Method', 'Product Category']].drop_duplicates().head())

Step 4: Standardized text sample

          Region Payment Method Product Category
0  North America    Credit Card      Electronics
1         Europe         Paypal  Home Appliances
2           Asia     Debit Card         Clothing
3  North America    Credit Card            Books
4         Europe         Paypal  Beauty Products

In [26]:
# Step 5: Convert date format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')
print("\nStep 5: Converted date format")
display(df['Date'].head())

Step 5: Converted date format

0    01-01-2024
1    02-01-2024
2    03-01-2024
3    04-01-2024
4    05-01-2024
Name: Date, dtype: object

In [28]:
# Step 6: Rename columns
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print("\nStep 6: Renamed columns")
print(df.columns.tolist())

Step 6: Renamed columns
['transaction_id', 'date', 'product_category', 'product_name', 'units_sold', 'unit_price', 'total_revenue', 'region', 'payment_method']

In [30]:
# Step 7: Fix data types
df['transaction_id'] = df['transaction_id'].astype(int)
df['units_sold'] = df['units_sold'].astype(int)
df['unit_price'] = df['unit_price'].astype(float)
df['total_revenue'] = df['total_revenue'].astype(float)
df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')
print("\nStep 7: Fixed data types")
print(df.dtypes)

Step 7: Fixed data types
transaction_id               int32
date                datetime64[ns]
product_category            object
product_name                object
units_sold                   int32
unit_price                 float64
total_revenue              float64
region                      object
payment_method              object
dtype: object

In [32]:
# Step 8: Check calculated revenue
df['calculated_revenue'] = (df['units_sold'] * df['unit_price']).round(2)
df['revenue_match'] = df['calculated_revenue'] == df['total_revenue'].round(2)
print("\nStep 8: Revenue match check")
print(df['revenue_match'].value_counts())

Step 8: Revenue match check
revenue_match
True    240
Name: count, dtype: int64

In [34]:
# Step 9: Save cleaned file
df.to_csv("Online_Sales_Data_Cleaned.csv", index=False)
print("\nStep 9: Cleaned file saved as Online_Sales_Data_Cleaned.csv")

Step 9: Cleaned file saved as Online_Sales_Data_Cleaned.csv

In [36]:
# Step 10: Preview final data
print("\nStep 10: Final preview")
display(df.head())

Step 10: Final preview

,transaction_id,date,product_category,product_name,units_sold,unit_price,total_revenue,region,payment_method,calculated_revenue,revenue_match
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card,1999.98,True
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,Paypal,499.99,True
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card,209.97,True
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card,63.96,True
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,Paypal,89.99,True